<div class="card-trip">
  <img src="<%= cl_image_path @campervan.photo.key %>">
  <div class="card-trip-infos">
    <div>
      <%=@campervan.title %>
      <p><%= @campervan.description %></p>
    </div>
    <a class="btn btn-ghost" href="#">Book now</a>
<!--     #this needs to link to the booking page -->
    <h2 class="card-trip-pricing"><%=@campervan.price  %>£</h2>
    <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
  </div>
</div>
