body {
  background-color: #07212F;
  background-size: cover;
  background-position: center;
}
.campervan-link {
  color: black !important;
  text-decoration: none !important;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.card-campervan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
}

.page-title h1 {
  text-align: left;
  padding-top: 70px;
  font-family: 'Zilla Slab', sans-serif;
  color: white;
}

.single-card {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 18px;
  position: relative;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  h4, p, h3 {
    text-decoration: none;
  }

  h4 {
    margin: 0px;
    font-family: 'Raleway', serif;
    font-size: 18px;
  }

  p {
    margin: 10px 0px;
    color: #707070;
    font-family: 'Raleway', sans-serif;
  }

  h3 {
    margin: 0px;
    padding-left: 16px;
    position: absolute;
    bottom: 44px;
    right: 16px;

  }
}

.link-card {
  height: 300px;
  width: 100%;

  img {
    height: 300px;
    width: 100%;
  }
}

.campervan-info {
  display: flex;
  padding: 16px;
  // align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
}

.card-description {
  font-family: 'Bree Serif', serif;
  color: black;
  font-size: 14px;
}

.card-title {
  text-decoration: none;
  font-family: 'Bree Serif', serif;
}


// .row {
//   text-decoration: none;
// }

