#campervan-img {
  height: 500px;
  width: 100%;
}

.card-trip {
  padding: 30px 50px;
  overflow: hidden;
  background: white;

  h1 {
    color: black;
    font-family: 'Zilla Slab', sans-serif;
    text-transform: uppercase;

  }
  p {
    color: black;
    font-family: 'Raleway', sans-serif;
  }
}

.card-trip .card-trip-info {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 30px;
  h1 {
    font-size: 50px;
  }

  h4 {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }

  .user-only-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 25px;
  right: 50px;

    .edit-booking-btn {
    margin: 0px 14px;
    }
  }
}

.booking-form {
  padding: 20px 24px;
  width: 60%;
  background-color: white;
  margin: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rbg(228, 228, 228);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}


// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

//star rating
// .rating {
//   unicode-bidi: bidi-override;
//   direction: rtl;
// }
// .rating > span {
//   display: inline-block;
//   position: relative;
//   width: 1.1em;
// }
// .rating > span:hover:before,
// .rating > span:hover ~ span:before {
//    content: "\2605";
//    position: absolute;
// }
