// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .booking-review-container {
    grid-template-columns: 1fr;
  }
  .simple_form_booking_box {
    grid-template-columns: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .booking-review-container {
    grid-template-columns: 1fr 1fr;
    // grid-gap: 50px;
  }
}

.card-trip {
  padding: 30px 50px;
  overflow: hidden;
  background: white;

  h1 {
    color: black;
    font-family: 'Zilla Slab', sans-serif;
    text-transform: uppercase;

  }
  p {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
  }
}

.card-trip .card-trip-info {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 35px;
  border-bottom: 0.5px solid #C0C0C0;
  h1 {
    font-size: 50px;
  }
  h4 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
  }

  .user-only-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 25px;
  right: 30px;

    .edit-booking-btn {
    margin-right: 14px;
    }
  }
}

.booking-review-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  // justify-content: space-between;
  .booking-form {
    padding: 20px 24px;
    width: 50vw;
    background-color: white;
    margin-top: 15px;
    margin-right: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #888;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    .simple_form_booking_box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10vw;
      width: 80%;
      // padding: 15px;
      #start-date, #end-date {
        background-color: #F5F5F5;
      }
    }
  }
  .review-box {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    width: 40vw;
    background-color: white;
    margin-right: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    p {
      font-size: 14px;
    }
  }
}

.card-trip {
  .review-box {
  // padding-right: 30px;
  // display: flex;
  // justify-content: left;
  } h4 {
    font-family: 'Raleway', sans-serif;
  }
}


// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px !important;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

//star rating
// .rating {
//   unicode-bidi: bidi-override;
//   direction: rtl;
// }
// .rating > span {
//   display: inline-block;
//   position: relative;
//   width: 1.1em;
// }
// .rating > span:hover:before,
// .rating > span:hover ~ span:before {
//    content: "\2605";
//    position: absolute;
// }
