<h1>Bookings#booked:boolean</h1>
<p>Find me in app/views/bookings/booked:boolean.html.erb</p>
<%= simple_form_for @booking do |f| %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
<% end %>
