.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("vintage_vans.jpg");
  background-size: cover;
  background-position: center;
}

.banner-content {
  margin-bottom: 200px;
  padding-top: 150px;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 45px;
  font-family: 'Yesteryear', cursive;
}

p {
  color: white;
  opacity: 0.8;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}

// .btn {
//   text-decoration: none;
//   background-color: transparent;
//   color: #D2D2D2;
//   padding: 12px 24px;
//   border-radius: 24px;
//   border: 1px solid #D2D2D2;
//   transition: color 1s ease;
//   font-size: 12px;

//   &:hover {
//     color: black;
//     background-color: white;
//     border: 1px solid black;
//   // }
// }
