.container-login {
  width: 100%;
  padding: 100px;
  margin: 20px, auto;
  justify-content: center;
}

.show-flex {
  border-radius: 50px;
}

.booking-show-p {
  color: black;
}

.form-inputs {
 color: white !important;
}

.container-show {
  border-radius: 10%;
  width: 800px;
  margin: 0 auto;
  padding: 50px;
/*  padding: 20px;
  align-items: center;*/
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container-show {
    width: 300px;
  }
}

.forgot-password {
  display: flex;
  justify-content: space-between;
}

.search-border {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  padding: 10px;
  border-color: #07212F;
  border-width: 1px;

}

.submit-tag {
  color: #07212F;
}

// .email-optional {
//   color: white;
// }

.add-van {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1vw;
}

.add-form-colour {
  label {
    color: white;
    text-align: left;
  }
}

.title-add {
  color: white;
  padding: 5px;
  margin-top: 10px;
  align: center;
  padding-top: 30px;
}

.align-container-center {
  display: grid;
  grid-template-columns: 1fr;
}

.form-actions-signup {
  padding-bottom: 20px;
}


