.container {
  width: 100%;
  padding: 100px;
  margin: 20px, auto;
  justify-content: center;
  border-radius: 15px;
}

// .flex-show {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   border-radius: 5px;
// }

.booking-show-p {
  color: black;
}



