.container {
  width: 100%;
  padding: 100px;
  margin: 20px, auto;
  justify-content: center;
}

.show-flex {
  border-radius: 50px;
}

.booking-show-p {
  color: black;
}

.form-inputs {
 color: white !important;
}

// .email-optional {
//   color: white;
// }


